@keyframes play180 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -36000px 0px;
  }
}
.shapeshifter {
  animation-duration: 3000ms;
  animation-timing-function: steps(180);
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
}
.shapeshifter.play {
  animation-name: play180;
}
