body {margin: 0;padding: 0;}
a, li, ul, img, div {text-decoration: inherit; color: inherit; margin: 0; padding: 0; list-style: none;}


header{
    /* background-color: rgb(127, 127, 155); */
    width: 100%;
    height: 100px;
    position: fixed;
}
header .inner{
    width: 95%;
    padding: 0 40px;
    position: relative;
    height: 100%;
}
header .inner .hRight {
    position: absolute;
    top: 30px;
    letter-spacing: -1px;
    font-size: 15px;
}
header .inner .hRight div {
    display: inline-block;
    margin-right: 30px;
}
header .inner .hRight .open{width: 30px;height: 30px;overflow: hidden;}
header .inner .hRight .open img{}
header .inner .hRight .search{
    transform: translateY(-6px);
}
header .inner .hRight .lang{
    transform: translateY(-6px);
}
header .inner .hRight .lang a{}
header .inner .hRight .lang a .ko{}
header .inner .hRight .lang a .en{}
header .inner .logo{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}
header .inner .logo a{
    font-family: 'HeirofLightBold', sans-serif;
    font-size: 25px;
}
header .inner .hLeft{
    position: absolute;
    top: 30px;
    right: 0px;
    display: flex;
    letter-spacing: -1px;
    font-size: 15px;
}
header .inner .hLeft .menu{
    margin-right: 30px;
}
header .inner .hLeft .menu li{
    display: inline-block;
    margin-left: 30px;
}
header .inner .hLeft .menu .login{}
header .inner .hLeft .menu .join{}
header .inner .hLeft .menu .reservationCheck{}
header .inner .hLeft .reList{
    border: 1px solid black;
    padding: 10px 22px;
    font-family: 'gothamL', sans-serif;
    font-weight: 900;
}
header .inner .hLeft .reList li{
    display: none;
}
header .inner .hLeft .reList .reList a:hover li{ display: block;}
header .inner .hLeft .reList .reList2{}
header .inner .hLeft .reList .reList3{}
header .inner .hLeft .reList .reList4{}


@font-face {
    font-family: 'gothamL';
    src:url('../font/gotham-light.woff') format('woff');
    /* 이런식으로 weight를 지정해서 사용할 수도 있다!*/
    font-weight: 400;
}
@font-face {
    font-family: 'HeirofLightBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/HeirofLightBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
